<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Match UI</title>
  <link rel="stylesheet" href="matches.component.css">
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <h2>Available Matches</h2>
      <div class="matches">
        <div class="match">
          <p>Team Argentina vs Team Brazil</p>
          <p>Date: January 17, 2024</p>
          <button class="book-now-btn" routerLink="/booking">Book Now</button>
        </div>

        <div class="match">
          <p>Team Thailand vs Team France</p>
          <p>Date: March 18, 2024</p>
          <button class="book-now-btn" routerLink="/booking">Book Now</button>
        </div>
        <div class="match">
          <p>Team Germany vs Team England</p>
          <p>Date: February 19, 2024</p>
          <button class="book-now-btn" routerLink="/booking">Book Now</button>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>
