@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://img.freepik.com/free-photo/soccer-ball-foreground-with-blurred-field_91128-4659.jpg?size=626&ext=jpg&ga=GA1.1.1127022326.1704703753&semt=sph');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.matches {
  padding: 20px;
  border-radius: 10px;
}
.match + .match {
  margin-top: 20px; /* Adjust the margin-top to add space between matches of different teams */
}
.book-now-btn {
  background-color: rgb(130, 107, 107); /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Padding for button */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.book-now-btn:hover {
  background-color: black; /* Darker blue color on hover */
}
